@media screen and (max-width:925px) {
    .menu {
        display: none;
    }

    .logo {
        margin: 0;
        text-align: center;
    }

    .header {
        padding-top: 50px;
    }

    .headline {
        flex: 100%;
        margin: 5%;
        text-align: center;
    }

    .headline p {
        text-align: center;
    }

    .img-headline {
        flex: 100%;
        margin: 5%;
        text-align: center;
    }

    .produtos {
        display: block;

    }




    .produto {
        display: block;
        width: 100%;
    }

}

@media screen and (min-width:820px)and (max-width:825px) {

    .produtos {
        display: inline-block;

    }




    .produto {
        display: inline-block;
        width: 35%;
    }


}